#
# Copyright (C) 2020 The Android Open Source Project
# Copyright (C) 2020 The TWRP Open Source Project
# Copyright (C) 2020 SebaUbuntu's TWRP device tree generator
# Copyright (C) 2019-Present A-Team Digital Solutions
#

import /init.recovery.qcom_decrypt.rc
import /init.recovery.usb.rc

on early-init
    insmod /vendor/lib/modules/oplus_bsp_tp_gt9886.ko
    insmod /vendor/lib/modules/oplus_bsp_tp_goodix_comnon.ko
    insmod /vendor/lib/modules/adsp_loader_dlkm.ko
    insmod /vendor/lib/modules/apr_dlkm.ko
    insmod /vendor/lib/modules/oplus_bsp_tp_notify.ko
    insmod /vendor/lib/modules/q6_notifier_dlkm.ko
    insmod /vendor/lib/modules/q6_pdr_dlkm.ko
    insmod /vendor/lib/modules/snd_event_dlkm.ko
    insmod /vendor/lib/modules/adsp_loader_dlkm.ko
    insmod /vendor/lib/modules/oplus_chg.ko
    start load_ts_firmware

on property:twrp.modules.loaded=true
    # Load ADSP firmware for PMIC
    wait /sys/kernel/boot_adsp/boot
    write /sys/kernel/boot_adsp/boot 1
    wait /sys/class/power_supply/battery
    start health-hal-2-1

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice

service load_ts_firmware /system/bin/load_ts_firmware.sh
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0

